* /*important*/
{
	margin: 0;
	padding: 0;
}
html, body /*important*/
{
	height: 100%;
	background-image: url("images/wallpaper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: white;
}
body
{
	position: relative;
	padding-bottom: 9em;
	width: 100%;
	display: table;
}
.conteneur /*important*/
{
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: solid;
	font-family: Bradley Hand, cursive;
}
.logo /*important*/
{
	width: 150px;
}
.facebook /*important*/
{
	width: 95px;
}
.twitter /*important*/
{
	margin-top: 12px;
	width: 70px;
}
a /*important*/
{
	text-decoration:none;
	color:black;
}
footer /*important*/
{
	width: 100%;
	padding-bottom: 10px;
	display: table-row;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: solid;
}
.reseaux /*important*/
{
	margin-left: 10px;
	display: flex;
}
.body_conteneur
{
	background-color: black;
	margin: auto;
	padding:25px;
	width:900px;
}
.text_reseaux /*important*/
{
margin-left: 10px;	
}

p, h3
{
	color: white;
	font:1em Tahoma, Geneva, sans-serif;
}
.black
{
	color: black;
}
.first_paragraph
{
	padding-top: 40px;
}
.conteneur, .white
{
	background-color: white;
}